@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* index.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  background-color: #ffffff;
  color: #333;
  overflow-x: hidden; /* Evita scroll horizontal indeseado */
}

/* Scroll suave al hacer clic en los links del navbar */
html {
  scroll-behavior: smooth;
}